@import "../../../../../Text.scss";

.startedPlug {
    display: inline-flex;
    flex-direction: row;
    font-weight: 600;
    padding: 1em 3.2em;
    margin: 3.5em 0 2.5em 0;
    align-items: center;

    background-color: #3d8d44;
    border: 1px solid #2c7c33;
    border-radius: 0.8em;

    .startedPlug-label {
        margin-right: 0.8em;
        @include setFontSize(3);
    }
    .startedPlug-icon {
        width: auto;
        height: 3em;
    }
}
