@import "../../../Text.scss";

.eventNext {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    margin: 4em 0;

    .eventNext-title {
        @include setFontSize(4);
        @include styleAndCropEventTitle();
    }
}
