@import "../../../../Text.scss";

.announceWidget {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10rem;
    .announceWidget-timers {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
}
