@import "../../../../Text.scss";

.announceWidget {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8rem;
    .announceWidget-timers {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        & > * {
            margin: 1rem;
        }
    }
}
