@import "../../../Text.scss";

.eventCurrent {
    background-color: #1e3465;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    padding: 2rem 0;

    .eventCurrent-content {
        width: 100%;
        max-width: 65%;
        .eventCurrent-title {
            @include setFontSize(3);
            @include styleAndCropEventTitle(2);
            margin-bottom: 0.5em;
        }
    }
}
