:root {
    --textPrimary: #ffffff;
    --textSecondary: #98abbe;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.App-inited {
        & > * {
            display: flex;
            flex: 1;
            flex-direction: column;
            place-content: center;
        }
    }
    &.App-empty {
        height: 100vh;
    }
}
