:root {
    --textPrimary: #ffffff;
    --textSecondary: #98abbe;

    --gray: rgb(120, 120, 120);
    --grayTransparent: rgba(120, 120, 120, 0.2);
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100 - 1px);
}
