html,
body {
  margin: 0;
  overscroll-behavior: none;
  background-color: #12203e;
  * {
    color: var(--textPrimary);
  }
}

body {
  overflow-x: hidden;
  overflow-y: overlay;
  ::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 8px;
  &-track {
    background: transparent;
  }
  &-thumb {
    border-radius: 4px;
    background: var(--grayTransparent);
    &:hover {
      background: var(--gray);
    }
  }
}

*,
:after,
:before {
  box-sizing: border-box;
}
