@import "./Functions.scss";

html {
    font-size: calcFluidSize(10, 15, 320, 1280);
}
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    * {
        color: #ffffff;
    }
}

/*
* Mixin for select fontSize from set
* 
* -> Effective for maintaining site template with a selected set of sizes
*/
@mixin setFontSize($fontSizeIndex) {
    $currentFontSize: "initial";
    @if ($fontSizeIndex == 1) {
        $currentFontSize: calcFluidSize(4.7, 5, 320, 1280, rem);
    } @else if ($fontSizeIndex == 2) {
        $currentFontSize: calcFluidSize(2.25, 2.4, 320, 1280, rem);
    } @else if ($fontSizeIndex == 3) {
        $currentFontSize: calcFluidSize(2.07, 2.2, 320, 1280, rem);
    } @else if ($fontSizeIndex == 4) {
        $currentFontSize: calcFluidSize(1.6, 1.7, 320, 1280, rem);
    } @else if ($fontSizeIndex == 5) {
        $currentFontSize: calcFluidSize(1.32, 1.4, 320, 1280, rem);
    } @else if ($fontSizeIndex == 6) {
        $currentFontSize: calcFluidSize(0.92, 0.98, 320, 1280, rem);
    }

    font-size: $currentFontSize;
}

/*
* Mixin for set template styles on title 
*/
@mixin styleAndCropEventTitle($lines: 1) {
    text-align: center;
    font-weight: bold;
    max-width: 65vw;
    line-height: 1.5em;

    // Ellipsis effect
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
}

@media only screen and (max-width: 960px) and (max-height: 560px) and (orientation: landscape) {
    body {
        font-size: calcFluidSize(11, 14, 480, 960);
    }
}
