@import "./Functions.scss";

html {
    font-size: calcFluidSize(10, 15, 320, 1280);
}
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: var(--textPrimary);
}

@mixin setFontSize($fontSize) {
    $currentFontSize: "initial";
    @if ($fontSize == 1) {
        $currentFontSize: calcFluidSize(4.7, 5, 320, 1280, rem);
    } @else if ($fontSize == 2) {
        $currentFontSize: calcFluidSize(2.25, 2.4, 320, 1280, rem);
    } @else if ($fontSize == 3) {
        $currentFontSize: calcFluidSize(2.07, 2.2, 320, 1280, rem);
    } @else if ($fontSize == 4) {
        $currentFontSize: calcFluidSize(1.6, 1.7, 320, 1280, rem);
    } @else if ($fontSize == 5) {
        $currentFontSize: calcFluidSize(1.32, 1.4, 320, 1280, rem);
    } @else if ($fontSize == 6) {
        $currentFontSize: calcFluidSize(0.92, 0.98, 320, 1280, rem);
    }

    font-size: $currentFontSize;
}

@mixin styleAndCropEventTitle($lines: 1) {
    text-align: center;
    font-weight: bold;
    max-width: 65vw;
    line-height: 1.5em;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;

    height: calc(1.5 * $lines) + em;
}

@media only screen and (max-width: 960px) and (max-height: 560px) and (orientation: landscape) {
    body {
        font-size: calcFluidSize(11, 14, 480, 960);
    }
}
